<!doctype html>
<html ng-app="app">
  <head>
    <title>B(to)a(to)B</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-controller="TranslationController as vm">
    <div class="jumbotron">
      <h1 class="display-4">B(to)a(to)B</h1>
      <p class="lead">
        Convert a JSON operation into a base64-encoded string and back with <em>literal ease!</em>
      </p>
      <hr class="my-4">
      <p>
        this was made by Jason Vertucio to help him at work. ENJOY! 😁
      </p>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <h2>BTOA: Base64encode JSON</h2>
          <p>Must be Valid JSON</p>
          <textarea class="form-control btoa" ng-model="btoaText"></textarea>
          <br>
          <pre>{{ vm.btoa(btoaText) }}</pre>
        </div>

        <div class="col-sm-6">
          <h2>ATOB: Base64decode to JSON</h2>
          <p>Must be Valid base64-encoded JSON</p>
          <textarea class="form-control atob" ng-model="atobText"></textarea>
          <br>
          <pre>{{ vm.valid(atobText,'atob') ? (vm.atob(atobText) | json) : ''}}</pre>
        </div>

    </div>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-11841699-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-11841699-3');
    </script>
  </body>
</html>
