@import 'tailwindcss';

@theme {
  --color-primary: #104242;
  --color-primary-dark: #0d3c3c;
  --color-primary-light: #4f9b9b;
  --color-secondary: #6c757d;
  --color-secondary-dark: #5a6268;
  --color-secondary-light: #b8c2cc;
}

header {
  @apply bg-secondary-light pt-12 pb-20 px-20;
}

h1 {
  @apply font-bold text-2xl mb-2 text-primary;
}

h2 {
  @apply font-bold text-xl mb-2 text-primary-dark;
}

pre {
  @apply overflow-x-auto overflow-y-scroll whitespace-pre-wrap wrap-break-word;
}

textarea {
  @apply border border-secondary-light rounded-md focus:outline-secondary-light p-1;
  &.form-control {
    @apply w-full resize-none;
    &.btoa {
      @apply h-96;
    }
    &.atob {
      @apply h-96;
    }
  }
}

button {
  @apply bg-secondary my-2 p-2 rounded-md text-white hover:bg-secondary-dark active:bg-secondary-light active:text-black;
}